header{
	position:fixed;
	width:100%;
	height:44px;
	top:0;
	left:0;
	z-index: 100;
}
.header{
	width:100%;
	/*max-width:1080px;*/
	margin:0 auto;
	background:#fafafa;
	display:flex;	
	height: 44px;	
}
.header .tit{
	line-height:40px;
	text-align:left;
	flex:1;
	padding: 4px 10px 0;
	font-size: 17px;
}
.header .ct-lf{
	padding: 10px; 
	line-height: 24px; 
	position: relative;
	font-size: 14px;
}
.header .i-back{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../images/ico-back.png) center no-repeat;
	background-size: 100% 100%;
}
.header .close{position: relative; top: -6px;}
.header .ct-lf:after{
	position: absolute;
	content: "";
	display: table;
	right:0;
	top: 8px;
	width: 1px;
	height: 28px;
	-webkit-transform: scaleX(0.5);
	-moz-transform: scaleX(0.5);
	-ms-transform: scaleX(0.5);
	transform: scaleX(0.5);
	background: #e7e7e7;	
}
.header:after{
	content:"";
	display:table;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background:#e8e8e8;		
}
.header .t-more{
	width: 24px;
	height: 24px;
	background: url(../images/icon-more.png) center no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	margin: 10px 10px 0 0;
}
.header .t-more-list{
	position: absolute;
	width: 35%;
	background: rgba(0,0,0,.6);
	padding:0 10px 10px;
	right: 0;
	top: 44px;
	display: none;
}
.t-more-list li{
	padding: 3px;
	position: relative;
}
.t-more-list li:after{
	content:"";
	display:table;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background:rgba(198,198,198,.5);	
}
.t-more-list li a{
	display: block;
	line-height: 1.6em;
	font-size: 15px;
	color: #fff;
	padding: 5px;
}
.section{
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}
.wp-t50{
	padding: 50px 0 0px;
}
.wp-t44{
	padding: 44px 0 0px;
}
.at-wrap{
	background: #f2f2f2;
}

.theme-pic{
	margin-bottom: 15px;
	background: #fff;
	position: relative;
}
.theme-pic:after{
	content:"";
	display:table;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
.theme-pic .pic{width: 100%; position: relative;}
.theme-pic .pic img{width: 100%; display: block;}

.theme-pic .item-tit{
	position: absolute;
	top: 50%;
	margin-top: -20px;
	color: #fff;
	padding: 0 0 0 12px;
	font-size: 14px;
}
.theme-pic .item-tit .tit{
	font-size: 21px;
	padding: 0 0 10px;
}
.theme-pic .b-att{
	background: #fff;
	padding: 0 10px;
	line-height: 18px;
	border-radius: 10px;
	color: #49AEFF;
	margin-left: 10px;
}
.sign-up-bar{
	padding: 12px 15px;
	display: flex;
	align-items: center;
}
.sign-up-bar .price-cel{
	width: 60%;
}
.sign-up-bar .num{
	font-size: 28px;
	color: #49AEFF;
}
.sign-up-bar .small{font-size: 16px;}
.sign-up-bar .sign-cel{
	width: 40%;
	text-align: right;
}
.sign-up-bar .btn-cc{
	background: #49AEFF;
	color: #fff;
	line-height: 38px;
	padding: 0 20px;
	display: inline-block;
	border-radius: 4px;
}


.th-tabs{
	display: flex;
	padding: 10px 15px;
}
.th-tabs .tab{
	width: 49%;
	text-align: center;
	font-size: 15px;
	color: #aaa;
}
.th-tabs .tab p{
	text-align: center;
}
.th-tabs .tab .num{
	font-size: 22px;
	padding: 0 0 5px;
	color: #303030;
}

.intro-view{
	background: #fff;
	padding: 0;
	margin-bottom: 15px;
}
.intro-view p{
	line-height: 1.8em;
	padding: 5px 0;
	font-size: 14px;
}
.intro-view .intro-text{
	padding: 15px;
}
.intro-view .intro-text h5{
	font-size: 15px;
	font-weight: 600;
	padding: 8px 0;
}
.intro-view .intro-text img{
	width: 100%;
	margin: 5px 0;
}
.item-view{
	background: #fff;
	margin-bottom: 15px;
}
.item-view .title,
.intro-view .title{
	padding: 12px 15px;
	position: relative;
}
.item-view .title:after,
.intro-view .title:after{
	position: absolute;
	content:"";
	display:table;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
.item-view .title .more,
.intro-view .title .more{
	float: right;
	position: relative;
	font-size: 14px;
	color: #aaa;
	margin-right: 10px;
	top: 1px;
}
.item-view .title .more:after,
.intro-view .title .more:after{
	position: absolute;
	content: "";
	background: url(../images/arr.png) center no-repeat;
	background-size: 100% 100%;
	width: 9px;
	height: 18px;
	margin-left: 4px;
}
.list-item{
	padding: 10px 0;
}
.list-item li{
	padding: 5px 15px;
}
.list-item li a{
	display: block;
}
.list-item li img{width: 100%;}

.list-item .item{
	position: relative;
}
.list-item .info{
	left: 0;
	color: #fff;
	top:50%;
	position: absolute;
	margin-top: -30px;
}
.list-item .sum-bar{
	padding: 5px 15px;
	width: 100%;
	font-size: 14px;
}
.list-item .tit{
	padding: 5px 15px 0;
	width: 100%;
	font-size: 22px;
}
.team-cel{
	display: flex;
	width: 100%;
	top: 0;
	padding: 12px 10px 12px 12px;
	align-items: center;
	justify-content: center;
 }
.team-cel .uh-pic{
	width: 25%;
	max-width: 100px;
}
.team-cel .uh-pic img{
	border-radius: 100%;
}
.team-cel .tm-info{
	flex: 1;
	padding: 0 0 0 10px;
	color: #333;
}
.team-cel .tit{
	padding: 0 0 5px;
	width: 100%;
	font-size: 20px;}
.team-cel .from{font-size: 14px; color: #999; padding:0 0 5px;}
.team-cel .fxx{color: #999; font-size: 16px;}
.team-cel .num{float: right; color: #49AEFF;}

.team-theme-view{
	position: relative;
	background: #fff;
	margin-bottom: 15px;
}
.team-theme-view img{
	width: 100%;
	display: block;
}
.team-theme-view .team-cel{
	position: absolute;
	top: 0%;
	left: 0;
	height: 100%;
}
.team-theme-view .team-cel .tit,
.team-theme-view .team-cel .from,
.team-theme-view .team-cel .fxx{
	color: #fff;
}
.team-theme-view .opr-cel{width: 72px;}
.team-theme-view .btn-go{
	background: rgba(252,252,252,.9);
	color: #49AEFF;
	display: inline-block;
	padding: 3px 12px 3px;
	border-radius: 15px;
	position: relative;
	top: -6px;
}
 @media screen and (min-width: 640px) {
   .team-theme-view .opr-cel{width: 120px;}
   .team-theme-view .btn-go{
   	font-size: 18px;
   	padding: 10px 25px;
   	border-radius: 25px;
   	top: -12px;
   }
}
.btn-go .i-go{
	background:url(../images/ico-2.png) no-repeat;
	width:22px;
	height:22px;
	background-size:100% 100%;
	display:inline-block;
	position:relative;
	top:3px;
}
 @media screen and (max-width: 370px) {
 	.team-theme-view .btn-go{
 		padding: 3px 8px 3px;
 	}
 }

.tabs-title{
	position: relative;
	display: flex;
	background: #fff;
}
.tabs-title:after{
	content:"";
	display:table;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
.tabs-title .tab{
	width: 33.3%;
	text-align: center;
	position: relative;
}
.tabs-title .tab a{
	display: inline-block;
	padding: 12px 5px;
	text-align: center;
	height: 44px;
}
.tabs-title .on a{
	border-bottom: solid #49AEFF 2px;
}

.bd-mod-view{background: #fff; display: none;}
.trip-team-cell{padding: 10px 0;}
.trip-team-cell .title{
	padding: 10px 15px 10px 25px;
	position: relative;
}
.trip-team-cell .title:before{
	content:"";
	display:table;
	position:absolute;
	width: 4px;
	height: 18px;
	background: #49AEFF;
	border-radius: 2px;
	top: 12px;
	left: 15px;
}
.trip-team-cell .txt-cell{padding: 10px 15px; line-height: 1.8em;}
.trip-team-cell .trip-list{
	padding: 5px 15px 10px;
}
.trip-list .tit-date{
	padding: 5px 0 10px;
	font-weight: bold;
	font-size: 18px;
	color:#000;
}
.trip-list .txt-trip{
	padding: 5px 0 5px 10px;
	line-height: 1.8em;
	border-left:solid #ddd 3px;
	margin-left:10px;	
}
.trip-list .am-txt,
.trip-list .pm-txt,
.trip-list .nt-txt{
	position:relative;
	left:-23px;
	padding:15px 0 15px 30px;
	background:url(../images/i-xc-1.png) 0 15px no-repeat;
	background-size:24px 24px;
}
.trip-list .pm-txt{
	background-image:url(../images/i-xc-2.png);
}
.trip-list .nt-txt{
	background-image:url(../images/i-xc-3.png);
}
.pics-team-cell{padding: 5px 15px;}
.pics-team-cell .title{
	padding: 10px 0;
}
.pics-team-cell .intro{
	padding: 10px 0;
	line-height: 1.8em;
}
.pics-team-cell .photos-list{
	padding: 5px 0;
	display: flex;
	flex-wrap: wrap;
}
.demo-gallery{
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	flex-flow: wrap;
	-webkit-flex-flow: wrap;
	-ms-flex-flow: wrap;
	width: 100%;
}
.photos-list .pic{
	width: 33%;
	padding: 0 3px 5px 3px;
	text-align: center;
}
.photos-list .pic img{
	width: 100%;
	max-width: 130px;
	max-height: 130px;
}
.member-team-cell{}
.member-team-cell .member-cell{
	position: relative;
	padding: 12px 15px;
	display: flex;
	align-items: center;
}
.member-team-cell .member-cell:after{
	content:"";
	display:table;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
 .member-cell .upic{
 	width: 72px;
 }
 @media screen and (max-width: 400px) {
 	.member-cell .upic{
 		width: 60px;
 	}
 }
 @media screen and (max-width: 370px) {
 	.member-cell .upic{
 		width: 50px;
 	}
 }
 .member-cell .upic img{
	width: 100%;
	display: block;
	border-radius: 100%;
}
 .member-cell .uinfo{
 	flex: 1;
 	padding: 5px 0 5px 10px;
 	font-size: 14px;
 	line-height: 1.8em;
 	color: #9a9a9a;
 }
.member-cell .uinfo p.tit{
	font-size: 16px;
	color: #333;
}

.introTable{
	margin: 5px 0;
	border-top: solid #e5e5e5 1px;
	border-left: solid #e5e5e5 1px;
	font-size: 14px;
}
.introTable th,.introTable td{
	border-right: solid #e5e5e5 1px;
	border-bottom: solid #e5e5e5 1px;
	padding: 5px;
}
.introTable th{
	background: #E69BC3;
	font-weight: bold;
}
.introTable tr{
	background: #FBEEF5;
}
.introTable tr:nth-child(2n) {
	background: #F5D5E6;
}
.introTable td{
	line-height: 1.6em;
	vertical-align: middle;
}
.introTable td.thg{
	background: #E69BC3;
	font-weight: bold;
	width: 70px;
	text-align: center;
	vertical-align: middle;
}
.view-members{
	background: #fff;
	margin-bottom: 15px;
}
.members-list{
	padding: 10px 10px;
	display: flex;
	flex-wrap: wrap;
}
.members-list .mem-cell{
	width: 20%;
	padding: 10px 5px 0;
	font-size: 14px;
	box-sizing: border-box;
}
.mem-cell .uhpic{
	padding: 0 0 5px;
	text-align: center;
}
.mem-cell .uhpic img{
	display: block;
	border-radius: 100%;
	width: 100%;
}
.mem-cell p{
	text-align: center;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
}

.footer{
	position: fixed;
	width: 100%;
	height: 50px;
	left: 0;
	top: 0;
}
.footer .nav-tabs{
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	background: #fafafa;
	display: flex;
	height: 50px;
}
.footer .nav-tabs:after{
	content:"";
	display:table;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e9e9e9;
}
.footer .nav-tabs li{
	width: 25%;
}
.footer .nav-tabs li a{
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	line-height: 2em;
	color: #303030;
	position: relative;
}
.footer .nav-tabs li a.on{
	color: #49AEFF;
}
.footer .nav-tabs li a.on:after{
	content:"";
	display:table;
	position:absolute;
	bottom:8px;
	left:50%;
	width:24px;
	margin-left: -12px;
	height:2px;
	background: #49AEFF;
}

.fot-opr-bar{
	padding: 5px 15px;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #fff;
	box-sizing: border-box;
	margin-top: 40px;
}
.fot-opr-bar a{
	display: block;
	width: 100%;
	line-height: 48px;
	color: #fff;
	background: #49AEFF;
	text-align: center;
}


.intro-itm-list{padding: 5px 0 0 15px;}
.intro-itm-list .itm-cell{
	display: flex;
	position: relative;
	padding: 12px 15px 12px 0px;
	line-height: 1.6em;
}
.intro-itm-list .itm-cell:after{
	position: absolute;
	content:"";
	display:table;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
.intro-itm-list .itm-cell .tag-cel{
	width: 70px;
	color: #9a9a9a;
}
.intro-itm-list .itm-cell .txt-cel{
	flex: 1;
}
.intro-itm-list p{
	padding: 0;
	font-size: 15px;
}
.intro-itm-list .pics img{
	width: 31%;
}

.add-plus{
	width: 100%;
	padding: 0;
	border-radius: 100%;
	border: solid #e9e9e9 1px;
	text-align: center;
	box-sizing: border-box;
}
.add-plus .i-plus{
	display: inline-block;
	background: url(../images/i-plus.png) center center no-repeat;
	background-size: 100% 100%;
	width: 36px;
	height: 36px;
}
.add-plus img{width: 100%; display: block;}

.pics-list,.pics-code-list{
	padding: 0;
	display: flex;
	flex-flow: wrap;
}
.pics-list li{
	width: 50%;
	padding: 0 5px;
}
.pics-list li img{
	width: 100%;
}

.pics-code-list li{
	width:33.3%;
	padding:5px;
}
.pics-code-list li img{
	width:100%;
}
.pics-code-list li p{
	text-align:center;
	padding:0;
}

.sift-cell{
	background: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
}
.sift-cell a{
	display: block;
	text-align:left;
	padding: 10px 15px;
}
.sift-cell .i-arr{
	background: url(../images/arr-02.png) center no-repeat;
	width: 20px;
	height: 16px;
	background-size: 100% 100%;
	display: inline-block;
	float: right;
}
.teams-itm-view{padding: 15px; min-height: 96vh;}
.teams-itm-view .list-item li{
	padding: 0;
	background: #fff;
	margin-bottom: 10px;
	border-radius: 5px;
}
.teams-itm-view .list-item li a{display: flex;}
.into-itms{display: flex; padding: 5px 10px 15px;}
.into-itms a{
	width: 45%;
	margin: 0 3%;
	padding: 10px 0 5px;
	text-align: left;
}
.into-itms .into-1{background: #DBEFFF; color: #49b1fe;}
.into-itms .into-2{background: #DCF4D5; color: #4FC72F;}
.into-itms .into-3{background: #FFECD2; color: #FFA21C;}
.into-itms .icon{
	margin: 0 auto;
	background: url(../images/icon-into-1.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
}
.into-itms .into-2 .icon{
	background-image: url(../images/icon-into-2.png);
}
.into-itms .into-3 .icon{
	background-image: url(../images/icon-into-3.png);
}
.into-itms p{text-align: center;}

.form-apply-view{}
.form-apply-view .title{
	padding: 10px 15px;
}
.form-item-cell{background: #fff;  padding: 0; margin-bottom: 15px;}
.ul-input-view{padding-left: 15px;}
.form-item-cell .title{
	padding: 12px 0 12px 15px;
}
.ul-input-view .item-cell{
	padding: 14px 15px 10px 0;
	display: flex;
	line-height: 1.6em;
	position: relative;
}
.ul-input-view .item-cell:after{
	position: absolute;
	content:"";
	display:table;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
.ul-input-view .tag-cel{
	width: 90px;
}
.ul-input-view .txt-cel{
	flex: 1;
	padding: 0 0 0 10px;
	font-size: 15px;
}
.ul-input-view .inputTxt{
	width: 100%;
	border: 0;
	font-size: 15px;
	outline: 0;
}
.form-item-cell .tit-line{
	padding: 12px;
	position: relative;
}
.form-item-cell .tit-line:after{
	position: absolute;
	content:"";
	display:table;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
.form-item-cell .ul-info{padding: 10px 0;}
.form-item-cell .ul-info li{
	padding: 5px 12px;
	display: flex;
	align-items: center;
}
.form-item-cell .ul-info .tag-cel{
	width: 70px;
	color: #9a9a9a;
}
.form-item-cell .ul-info .txt-cel{
    flex: 1;
    text-align: right;
    padding: 10px 15px 10px 0;
}
.form-item-cell .ul-info .uhpic{
width: 40px;
height: 40px;
border-radius: 100%;
}
.form-item-cell .ul-info .uname{
  position: relative;
  top: -10px;
  margin-right: 10px;
}
.form-item-cell .ul-info .i-arr{
	display: inline-block;
	width: 9px;
	height: 18px;
	background: url(../images/arr.png) center no-repeat;
	background-size: 100% 100%;
	position:absolute;
	top: 50%;
	margin-left: 5px;
	margin-top: -7px;
	right: 0px;
}
.ul-info .inputTxt{
	width: 100%;
	border: 0;
	font-size: 15px;
	outline: 0;
	text-align: right;
}

.submit-btn{
	padding: 40px 15px 20px;
	text-align:center;
}
.submit-btn p{
	padding:15px 0 0;
	text-align:left;
	font-size: 14px;
}
.steps-list{
	margin-left: 30px;
	border-left: solid #74BDF0 2px;
	padding: 0 0 0 15px;
}
.steps-list .step-text{
	position: relative;
	left: -36px;
	display: flex;
	padding: 20px 0;
}
.step-text .step{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 100%;
	background-color: #74BDF0;
	color: #fff;
}
.step-text .text{
	flex: 1;
	padding: 0 0 0 10px;
}

.step-select-title{
	display: flex;
	padding: 30px 0px;
}
.step-select-title .cell{
	width: 33.3%;
	text-align: center;
	position: relative;
	z-index: 40;
}
.step-select-title p{text-align: center;}
.step-select-title .i-stp1,.step-select-title .i-stp2,.step-select-title .i-stp3{
	display: inline-block;
	background: url(../images/ico-stp-1.png) center center no-repeat;
	background-size: 24px 24px;
	width: 48px;
	height: 48px;
	border: solid transparent 3px;
	border-radius: 100%;
	background-color: #D3D3D3;
	z-index: 44;
	position: relative;
}
.step-select-title .i-stp2{
	background-image: url(../images/ico-stp-2.png);
}
.step-select-title .i-stp3{
	background-image: url(../images/ico-stp-3.png);
}
.step-select-title .cell.ed .ico{
	background-color: #36A0EA;
	border: solid #BAD8EF 3px;
}
.step-select-title .cell:after{
	content: "";
	display: table;
	height: 3px;
	background: #D3D3D3;
	width: 50%;
	position: absolute;	
	top: 24px;
	z-index: 33;
}
.step-select-title .cell:nth-child(2):after{
	width: 100%;
	right: 0;
}
.step-select-title .cell:nth-child(1):after{
	right: -2px;
}
.step-select-title .cell:nth-child(3):after{
	left: -1px;
}
.step-select-title .cell.ed:after{
	background-color: #36A0EA;
}

.select-team{}
.select-team .li{
	display: flex;
	padding: 12px;
	align-items: center;
	position: relative;
}
.select-team .li:after{
	position: absolute;
	content:"";
	display:table;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
.select-team .li .rad{
	width: 30px;
}
.select-team .li .team-itm{
	flex: 1;
	display: flex;
	align-items: center;
}
.team-itm .uh{
	width: 50px;	
}
.team-itm .uh img{width: 100%; border-radius: 100%;}
.team-itm .uinfo{
	flex: 1;
	padding: 0 0 0 10px;
	font-size: 13px;
	color: #9a9a9a;
}
.team-itm .uinfo .p-tit{
	font-size: 16px;
	color: #000;
	padding: 0 0 5px;
}
.team-itm .fr-num{
	float: right;
	color: #36A0EA;
}

.layer-trans{
	background: rgba(51,51,51,.7);
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}
.pop-txt-view{
	background: #fff;
	width: 100%;
}
.pop-txt-view .select-item{}
.pop-txt-view .select-item li{
	padding: 12px 15px;
	text-align: left;
	position: relative;
	text-align: center;
}
.pop-txt-view .select-item .ico-selected{
	display: none;
	background: url(../images/ico-selected.png) no-repeat;
	background-size: 100% 100%;
	width: 16px;
	height: 16px;
	float: right;
	position:absolute;
	right: 15px;
	top: 50%;
	margin-top: -8px;
	
}
.pop-txt-view .select-item li.selected{
	color: #49AEFF;
}
.pop-txt-view .select-item li.selected .ico-selected{
	display: inline-block;
}
.pop-txt-view .select-item li:hover,
.pop-txt-view .select-item li:focus{
	background: #f3f3f3;
}

.apply-content{
	background:#D1F4F8;
	position:relative;
	min-height:100vh;
	padding:0 0 20px;
}
.banner-pic img{width:100%;}
.apply-content .text-view{
	position:relative;
	top:-30px;
	width:88%;
	margin:0 6%;
	background:#F8FCFF;
	border-radius:10px;
	padding:20px 15px;
}
.text-view p{
	line-height:1.8em;
	padding:10px 0;
	font-size: 14px;
}
.text-view .opr-bar{
	padding:50px 0 20px;
	text-align:center;
}
.text-view .title{
	font-size: 16px;
	text-align: center;
	padding: 20px 0 10px;
	font-weight: bold;
}

.agree-view{
	border:solid #f0f0f0 1px;
	background:#f6f6f6;
	margin:20px 15px;
	color:#999;
	font-size:14px;
	position:relative;	
}
.agree-view .title{
	padding:12px;
	text-align:center;
	color:#000;
	font-size:16px;
	background:#f6f6f6;
	border-bottom:solid #f0f0f0 1px;
}
.agree-view .txt-bord{
	padding:5px 12px 5px;
	line-height:1.6em;
    height:180px;
	overflow-y:scroll;	
}
.txt-bord::-webkit-scrollbar{
	width:4px;
	background:#ddd;
	border-radius:3px;
}

.team-select-view{
	padding: 20px 0 0;
	border-top: solid #f0f0f0 1px;
	margin: 20px 0 0;
}
.team-select-view .title{
	padding: 10px 0 20px;
	font-size: 18px;
}
.agents-item-list{}
.agents-item-list .item-cell{
	display: flex;
	flex-flow: wrap;
	align-items: center;
	padding: 12px 0;
}
.agents-item-list .item-cell .uh{
	width: 60px;
}
.item-cell .uh img{width: 100%; border-radius: 100%;}
.agents-item-list .item-cell .uinfo{
	flex: 1;
	padding: 0 0 0 10px;
}
.agents-item-list .item-cell p{
	color: #999;
	padding: 3px 0;
}
.agents-item-list .item-cell .p-tit{
	font-size: 16px;
	color: #333 !important;
}
.opr-change{padding: 20px 0; text-align: center;}
.opr-change a{
    display: inline-block;
    padding: 4px 15px;
    background: #fff;
    border: solid #49b1fe 1px;
    color: #49b1fe;
    border-radius: 15px;
}

.i-qq,.i-tel{
	display: inline-block;
	background: url(../images/ico-qq.png) center no-repeat;
	background-size: 100% 100%;
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
}
.i-tel{
	background-image: url(../images/ico-tel.png);
}
.ap-agent .text-view{
	top: -50px;
	padding-top: 25px;
}
.ap-captain{
	background-color: #E9F6FE;
}
.ap-captain .text-view{
	top: -40px;
}
.text-view .theme-ft{
   position:absolute;
   top: -30px;
   padding: 0 10px 0 0;
   background:transparent url(../images/ft-agent.png) center center no-repeat;
   width: 260px;
   height: 48px;
   background-size:100% 100%;
   left: 50%;
   margin-left: -130px;
}
.text-view .theme-ft img{width: 100%;}

.w-info-view{
	position: relative;
	display: flex;
	background: #fff;
	padding: 12px;
	margin-bottom: 15px;
	align-items: center;
}
.w-info-view:after{
	position: absolute;
	content:"";
	display:table;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
.w-info-view .uh-cel{
	width: 60px;
}
.w-info-view .uh-cel img{width: 100%; border-radius: 100%;}
.w-info-view .uinfo-cel{
	flex: 1;
	padding: 3px 0 3px 10px;
	color: #9a9a9a;
	font-size: 15px;
}
.w-info-view .tit{font-size: 17px; color: #000; padding: 0 0 5px;}
.w-ico-item{
	background: #fff;
	position: relative;
	margin-bottom: 15px;
}
.w-ico-item:after{
	position: absolute;
	content:"";
	display:table;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
.w-ico-item .li-cell{
	display: flex;
	position: relative;
	padding: 12px 12px;
	align-items: center;
	height: 52px;
}
.w-ico-item .li-cell:after{
	position: absolute;
	content:"";
	display:table;
	bottom:0;
	left:12px;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
.w-ico-item .li-cell .tag-cel{
	width: 200px;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
}
.w-ico-item .li-cell .txt-cel{
	flex: 1;
	padding: 2px 20px 0 10px;
	text-align: right;
	color: #9a9a9a;
}
.w-ico-item .txt-cel img{
	width: 36px;
	height: 36px;
}
.w-ico-item .i-arr{
	display: inline-block;
	width: 9px;
	height: 18px;
	background: url(../images/arr.png) center no-repeat;
	background-size: 100% 100%;
	position:absolute;
	top: 50%;
	margin-left: 5px;
	margin-top: -7px;
	right: 12px;
}
.w-ico-item .li-cell:last-child:after{height: 0;}
.i-w1,.i-w2,.i-w3,.i-w4{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/ico-w-1.png) center no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.i-w2{
	background-image: url(../images/ico-w-2.png);
	top: 4px;
}
.i-w3{
	background-image: url(../images/ico-w-3.png);
	top: 6px;
	width: 22px;
	height: 22px;
}
.i-w4{
	background-image: url(../images/ico-w-4.png);
	top: 6px;
	width: 23px;
	height: 23px;
}
.photo-btn-cell{
	background: #fff;
	position: relative;
	padding:20px 0 0;
}
.photo-btn-cell:after{
	position: absolute;
	content:"";
	display:table;
	bottom:0;
	left:0px;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}
.pics-upload{display: flex; flex-flow: wrap; padding: 0 12px 20px;}
.pics-upload .pic{width: 80px; margin-right: 5px; display: inline-block; position: relative;}
.pics-upload .pic .x-del{
	position: absolute;
	width: 16px;
	height: 16px;
	background: #ff0000;
	color: #fff;
	border-radius: 100%;
	text-align: center;
	line-height: 16px;
	top: 0;
	right: 0;
}
.pics-upload .pic img{width: 100%; width: 80px; height: 80px; display: block;}
.btn-upload{
	padding:28px 25px 0;
	background: #D7D7D7 !important;
	display: inline-block;
	height: 80px;
}
.btn-upload .i-camera{
	display: inline-block;
	background: url(../images/photo.png) center no-repeat;
	width: 32px;
	height: 24px;
	background-size: 100% 100%;
}
.btn-upload .uploadFile{
	position:absolute;
	z-index:100;
	margin-left:-60px;
	margin-top: -30px;
	font-size:30px;
	opacity:0;
	filter:alpha(opacity=0);
	cursor:pointer;
	color:#333333 !important;
	width: 90px;
	height: 70px;
}
.photo-btn-cell .opr-bar{
	padding: 10px 0 15px;
	text-align: right;
}
.album-cells-list{
	min-height: 90vh;
}
.album-cells-list .tim-date{
	padding: 10px 12px;
	width: 100%;
}
.album-cells-list .album-pics{
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	flex-flow: wrap;
	-webkit-flex-flow: wrap;
	-ms-flex-flow: wrap;
	width: 100%;
}
.album-pics .pic{
	width: 33.3%;	
	overflow: hidden;
	padding: 0 5px 0 5px;
	margin-bottom: 6px;
	text-align: center;
}
.album-pics .pic img{
	width: 100%;
	max-height: 125px;
	max-width: 125px;
}
 @media screen and (max-width: 400px) {
 	.album-pics .pic img{
	width: 100%;
	max-height: 115px;
	max-width: 115px;
}
 }
 @media screen and (max-width: 370px) {
 	.album-pics .pic img{
	width: 100%;
	max-height: 100px;
	max-width: 100px;
}
 }
.we-info-f2{background: #f2f2f2; padding-top: 15px;}

.w-info{
	margin-bottom: 15px;
	background: #fff;
}
.w-info .txt-cel{
	text-align: right;
	color: #9a9a9a;
}
.we-info-f .title{padding: 12px 0px; margin-bottom: 20px;}
.we-info-f p{padding: 10px 0px;}
.we-info-f .ul-info{font-size: 14px;}
.we-info-f .ul-info li{
	padding: 10px 0px;
	display: flex;
	line-height: 1.6em;
}
.we-info-f .ul-info li .tag-cel{
	width: 80px;
	color: #9a9a9a;
}
.we-info-f .ul-info li .txt-cel{
	flex: 1;
	text-align: left;
}

.we-info-f{
	padding: 12px;
	background: #fff;
}
.we-info-f .title{
	position: relative;
}
.text-area{
	line-height: 1.6em; 
	min-height: 80px;
}
.text-area textarea{
	width: 100%;
	min-height: 80px;
	font-size:16px;
	line-height:1.6em;
	resize:none;
}
.we-info-f .opr-bar{padding: 10px 0 0; text-align: right;}
.we-info-f .opr-bar .btn-1{
	display: inline-block;
	padding: 3px 15px;
	border-radius: 4px;
	background: #49AEFF;
	color: #fff;
	font-size: 15px;
}

.welcom-txt{
	padding: 12px;
	background: #fff;
	margin-bottom: 15px;
	min-height: 100px;
}

.btn-inline{
	background: #49AEFF !important;
	color: #fff;
	border-radius: 4px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	padding:0 20px;
	margin:0 10px;
	display:inline-block;
}
.btnCom{
	display: block;
	width:  100%;
	background: #49AEFF !important;
	color: #fff;
	border-radius: 4px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
}

.pop-tips-txt{
	background: #FFFFFF;
	border-radius: 6px;
	padding: 20px;
	width: 90%;
	position: absolute;
	top: 40%;
	margin: -40% 5% 0;
}
 @media screen and (min-width: 600px){
 	.pop-tips-txt{
 		width: 600px;
 		left: 50%;
 		margin-left: -300px;
 		margin-top: -15%;
 	}
 }
.pop-tips-txt .title{
	font-size: 18px;
	color: #000;
	font-weight: bold;
	padding: 0 0 5px;
}
.pop-tips-txt .txt{
	padding: 10px 0;
	line-height:1.6em;
}
.pop-tips-txt .opr-bar{
	text-align: right;
	padding: 10px 0 0;
}
.pop-tips-txt .opr-bar a{
	display: inline-block;
	padding: 4px 10px;
	color: #36A0EA;
}
.pop-tips-txt .close-x{
	position: absolute;
	width: 22px;
	height: 22px;
	background: #ccc;
	text-align: center;
	line-height: 22px;
	font-size: 22px;
	border-radius: 100%;
	right: 15px;
	top: 20px;
}
.pop-input-view label{
	font-size: 14px;
	display: inline-block;
	padding: 0 0 5px;
}
.agent-uhs{
	padding:0 0 10px;
	display: flex;
	flex-flow: wrap;
}
.agent-uhs .u-pic{
	width: 46%;
	margin: 0 3px 5px;
	border: solid #f0f0f0 1px;
	position: relative;
}
.agent-uhs .u-pic p{
	padding: 0 5px;
	margin: 0;
	font-size: 12px;
}
.agent-uhs .u-pic .info{
	position: absolute;
	width: 100%;
	bottom: 0;
	background: rgba(252,252,252,.7);
	padding: 3px 0;
}
.agent-uhs .u-pic img{width: 100%; display: block;}
.agent-uhs .u-pic .g-ed{
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 100%;
	width: 16px;
	height: 16px;
	background: #4FC72F url(../images/ico-g.png) center no-repeat;
	background-size: 100% 100%;
	display: none;
	z-index: 22;
}
.agent-uhs .u-pic.selected .g-ed{
	display: block;
}


.bline{position: relative;}
.bline:after{
	position: absolute;
	content:"";
	display:table;
	bottom:0;
	left:0px;
	width:100%;
	height:1px;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background: #e7e7e7;
}


.pop-input-view{
    padding: 20px 0 10px;
}
.pop-input-view p{
    margin-bottom: 20px;
}
.pop-input-view .item-input{
border: solid #e0e0e0 1px;
border-radius: 4px;
line-height: 36px;
display: flex;
padding: 0 10px;
}
.pop-input-view .item-input .i-tg{
width: 55px;
color: #9a9a9a;
}
.pop-input-view .item-input input{
flex: 1;
line-height: 32px;
}
.pop-input-view .but-submit{
   background: #49b1fe;
   color: #fff;
   padding: 7px 20px;
   border-radius: 4px;
   font-size: 15px;
   text-align: center;
   min-width: 120px;
}

.pop-ags-tagcell{
	padding: 0 0 20px;
}
.pop-ags-tagcell p{
	font-size: 12px;
}
.pop-ags-tagcell a.f-r{color: #008CD3;}
.pop-cells{font-size: 12px; display: flex; flex-flow: wrap;}
.pop-cells a{
	width: 45%;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
	border-radius: 10px;
	background: #f0f0f0;
	padding: 4px 6px;
	margin: 0 10px 10px 0;
}
